.container {
  padding: 0 1rem;
  background-color: #fff;
  &:hover {
    background-color: #fafafa;
    cursor: pointer;
  }
}
.row {
  border: 1px #ccc;
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0 0.5rem 0;
  padding: 1rem 0;
  align-items: center;
  .left-container {
    flex: 4;
    display: flex;
    align-items: center;
  }
  .time {
    flex: 0.5;
  }
  .btn {
    align-self: end;
    flex: 0.1;
  }
}

.title {
  color: #333;
  font-size: 13pt;
}

.time {
  @extend .title;
  // padding-right: 0.8rem;
}

.author {
  color: #999;
  padding-left: 0.5rem;
}
