.header-container {
  height: 200px;
  width: 100%;
  background-color: gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
}

.text-container {
  margin-left: 2.5rem;
}

.title {
  font-size: 5rem;
  font-weight: 800;
}
.subtitle {
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 375px) {
  .text-container {
    margin-left: 20px;
  }

  .title {
    font-size: 3.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}
