.list {
  padding: 0 3rem;
  overflow-y: auto;
  height: 600px;
}
.veil {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  .veil-text {
    color: white;
    font-size: xx-large;
    font-weight: 800;
    margin: auto;
  }
}

@media screen and (max-width: 375px) {
  .list {
    padding: 0 20px;
  }
}
