<div class="list">
  <div class="veil" *ngIf="isLoadingPosts">
    <span class="veil-text">Loading Posts...</span>
  </div>
  <div class="veil" *ngIf="isRemovingPost">
    <span class="veil-text">Removing Post...</span>
  </div>
  <div *ngFor="let post of posts">
    <post-card [post]="post" (removeEvent)="removePost($event)"></post-card>
  </div>
</div>
